body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

* {
    box-sizing: border-box;
}

.header {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.footer {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}

.board {
    display: grid;
    border: solid 5px black;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

.square {
    color:black;
    border: solid 2px black;
    font-size: 120px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.x {
    color:green;
}

.square.o {
    color:crimson;
}

.square.x.winsq{
    color: white;
    background-color: green;
}

.square.o.winsq{
    color: white;
    background-color: crimson;
}